.galeria-paisajes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.titulo-h3 {
    background-color: rgba(207, 139, 127, 0.315);
}
.paisajes{
    border: 2px solid black;
    
}

@media(max-width:768px ){
    .paisajes{
        width: 60%;
    }
    .img-paisaje{
        width: 100%;
    }
    }
