.cabecera_service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: black;
    background-image: url(./images/nosotros.jpg);
    max-width: 1600px;
    height: 300px;
    background-size:80%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
    margin-bottom: 60px;
    border-radius: 50px;
}
.cabecera_service h2{
    max-width: 800px;
    margin: auto;
    width: 80%;
}

.data_service{
    background: rgba(252, 251, 251, 0.5);
    display: flex;
    flex-flow: column;
    max-width: 1500px;
    gap: 10px;
    text-align: center;
    margin: auto;
    font-size: large;
    border-radius: 10%;
    margin-bottom: 50px;


}

.data_contenido{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mapa-img{
    opacity: .8;
    margin:auto;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}