ul{
    display: flex;
    justify-content:flex-end;
    text-align: center;
    list-style: none;
    gap:100px;
    margin-right:200px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}

.itemnav {
    color: black;
    text-decoration: none;
}
.itemnav:hover{
    border-bottom: 2px solid black;
    transition:5s;
    filter: blur(5px);
}

@media(max-width:768px ){
ul{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-items: stretch;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    gap: 50px;
    align-items: stretch;
    text-align: center;
}
.itemnav:hover{
    border-bottom: 2px solid black;
    transition: 1s;
    filter: blur(0%);
}
.itemnav{
    border: 5px solid #e96b446e;
    gap: 10px;
    transition: 2s;
    filter: blur(100%);
}
}
    
